<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,latin-ext'
                  rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/bbdbongocricket/css/bootstrap.min.css') }}" type="text/css"
                  media="all"/>
            <link rel="stylesheet" href="{{ asset('bundles/bbdbongocricket/css/bootstrap-theme.css') }}" type="text/css"
                  media="all"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/bbdbongocricket/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bbdbongocricket/js/jquery.dataTables.columnFilter.js') }}"></script>
            <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
            <script type="text/javascript">
                Pusher.channel_auth_endpoint = "{{ path('lopi_pusher_bundle_auth') }}";
            </script>
        {% endblock %}
        {% block javascripts_pusher %}
            <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

            <script>
                // Enable pusher logging - don't include this in production
                Pusher.log = function(message) {
                    if (window.console && window.console.log) {
                        window.console.log(message);

                    }
                };

                var pusher = new Pusher('276e1f6298be4236ae0e', {
                    encrypted: true
                });
                var channel = pusher.subscribe('test_channel');
                channel.bind('my_event', function(data) {
                    alert(data.message);
                });
            </script>
        {% endblock %}
    </body>
</html>