{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Match list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Home_team</th>
                <th>Away_team</th>
                <th>Match_number</th>
                <th>Match_type</th>
                <th>Match_date</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('match_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hometeam }}</td>
                <td>{{ entity.awayteam }}</td>
                <td>{{ entity.matchnumber }}</td>
                <td>{{ entity.matchtype }}</td>
                <td>{% if entity.matchdate %}{{ entity.matchdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('match_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('match_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('match_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
